<div class="admin col-md-11 col-sm-11">
  <h4>
    Manage Database
  </h4>
  <div class="manage_database col-sm-6 col-md-6">
    <div class="col-sm-12 col-md-12">
      <h6>Add games</h6>
      <div class="add_games_panel">
        <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
          <label for="games">Games</label>
          <ng-select #genericSelection class="custom"
                     appearance="underline"
                     notFoundText="No games found"
                     formControlName="selection"
                     labelForId="games"
                     addTag="true"
                     [loading]="loading"
                     loadingText="Please wait..."
                     [groupBy]="groupByFn"
                     [groupValue]="groupValueFn"
                     [selectableGroup]="true"
                     [selectableGroupAsModel]="true"
                     [items]="games$ | async"
                     addTagText="Add new: "
                     bindLabel="title"
                     [searchFn]="customSearchFn"
                     placeholder="Search games"
                     searchable="true"
                     minTermLength="2"
                     [clearSearchOnAdd]="true"
                     multiple="true">
            <ng-template ng-option-tmp let-item="item" let-item$="item$">
              {{item.title}}
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">
              <span style="vertical-align: middle;">{{item.categoryName}}</span>
              <span class="ml-1 badge badge-secondary">{{item.total}}</span>
            </ng-template>
          </ng-select>
          <label for="categories">Categories</label>
          <ng-select class="custom"
                     notFoundText="No categories found"
                     [addTag]="true"
                     labelForId="categories"
                     appearance="underline"
                     formControlName="categorySelection"
                     [items]="categories$ | async"
                     addTagText="Add new: "
                     bindLabel="categoryName"
                     placeholder="Search Categories"
                     multiple="true"
          >
          </ng-select>
          <button (click)="openSelect(genericSelection)" class="btn btn-sm btn-secondary">Open</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <ng-template ng-tag-tmp let-search="searchTerm">
          <b>Add new: </b>{{search}}
        </ng-template>
        <!--        <input #searchGamesInput type="text" class="form-control" value="" (keyup)="searchGames(searchGamesInput)">-->
        <p class="server_message">{{message}}</p>
        <div class="games_list" *ngFor="let game of games$ | async">
          <p #gameInfo (click)="deleteGame(gameInfo, game._id)">{{game.title}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
    </div>
    <div class="col-sm-3 col-md-3">

    </div>
  </div>
  <div class="manage col-sm-6 col-md-6">
    <div class="col-sm-12 col-md-12">
      <h6>Add Game Category</h6>
      <!--      <div class="add_games_panel">-->
      <!--        <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">-->
      <!--          <ng-select #genericSelection class="custom"-->
      <!--                     appearance="underline"-->
      <!--                     formControlName="gameSelection"-->
      <!--                     [compareWith]="compareElements"-->
      <!--                     [items]="games"-->
      <!--                     addTagText="Add new: "-->
      <!--                     bindLabel="title"-->
      <!--                     placeholder="Search games"-->
      <!--                     multiple="true"-->
      <!--          >-->
      <!--          </ng-select>-->
      <!--          <button type="submit" class="btn btn-primary">Submit</button>-->
      <!--        </form>-->
      <!--        <ng-template ng-tag-tmp let-search="searchTerm">-->
      <!--          <b>Add new: </b>{{search}}-->
      <!--        </ng-template>-->
      <!--        &lt;!&ndash;        <input #searchGamesInput type="text" class="form-control" value="" (keyup)="searchGames(searchGamesInput)">&ndash;&gt;-->
      <!--        <p class="server_message">{{message}}</p>-->
      <!--        <div class="games_list" *ngFor="let game of games">-->
      <!--          <p #gameInfo (click)="deleteGame(gameInfo, game._id)">{{game.title}}</p>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
