<div class="home_page col-lg-12 col-md-12 col-sm-12">
  <div class="container">
    <div class="home-pages teams-container col-lg-5 col-md-5 col-sm-5">
      <div class="child_home_inline col-md-9 col-sm-9">
        <a routerLink="/teams">Teams</a>
      </div>
    </div>
    <div class="home-pages chat-container col-lg-5 col-md-5 col-sm-5">
      <div class="child_home_inline col-md-4 col-sm-4">
        <a routerLink="/chat">Chat</a>
      </div>
    </div>
  </div>
  <!--    <div class="home_caroussel-news">-->
  <!--        <div class="child_home_inline col-md-9 col-sm-9">-->
  <!--            <a routerLink="/caroussel" routerLinActive="active">Caroussel</a>-->
  <!--        </div>-->
  <!--        <div class="child_home_inline col-md-3 col-sm-3">-->
  <!--            <a routerLink="/news" routerLinActive="active test">News</a>-->
  <!--        </div>-->
  <!--    </div>-->

  <!--        <div class="child_home_inline col-md-3 col-sm-3">-->
  <!--            <a routerLink="/ladder" routerLinActive="active">Ladder</a>-->
  <!--        </div>-->
    <div class="home_find-chat-media">
      <!--        <div class="child_home_inline col-md-4 col-sm-4">-->
      <!--            <a routerLink="/find" routerLinActive="active">Find Teams</a>-->
      <!--        </div>-->

      <!--        <div class="child_home_inline col-md-4 col-sm-4">-->
      <!--            <a routerLink="/media" routerLinActive="active">Media</a>-->
      <!--        </div>-->
    </div>
</div>
