.auth_children{
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: 15px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
.auth_submit{
  display: block;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

@media screen and (max-width: 800px) {
  .auth {
    float: unset;
    text-align: center;
    position: relative;
    top: 60px;
    transform: unset;
  }
}
