<div class="chat-page col-md-12 col-sm-12">
  <h3>Messenger</h3>
  <div class="messenger-container container">
    <div class="user-finder">
      <ng-select class="custom"
                 notFoundText="No user found"
                 [addTag]="false"
                 loadingText="Please wait..."
                 [items]="users$ | async"
                 bindLabel="username"
                 (change)="selectUser($event)"
                 placeholder="Type a username to start a conversation"
                 multiple="false">
      </ng-select>
    </div>
    <div class="left-panel panels col-lg-3 col-md-3 col-sm-3">
      <div class="profile-container container" *ngIf="this.selectedUser">
        <div class="profile-details">
          <div class="img-profile-details">
            <img #imgRecipientDetails (mouseenter)="displayOverlay(imgRecipientDetails, 1)"
                 src="../../assets/images/bg/belowsky.jpg" alt="My Profile Picture">
            <div class="text-profile-details" (mouseleave)="displayOverlay(imgRecipientDetails, 0)">
              <div class="user-details">
                <p>{{selectedUser.username}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="middle-panel panels col-lg-6 col-md-6 col-sm-6">
      <div class="messages">
        <p>{{statusMessage}}</p>
        <p>{{welcomeMessage}}</p>
        <ngx-spinner bdColor="rgba(0,0,0,0.5)"
                     [fullScreen]="false"
                     size="medium"
                     color="#fff"
                     type="ball-scale-multiple"></ngx-spinner>
        <ng-container *ngFor="let message of messages">
          <div class="message-content {{
          message.sender.username === authService.userProfile.username ?
          'display-message-right' : 'display-message-left'}}">
            <p class="message-content-username">
              {{message.sender.username}}
            </p>
            <p class="message-content-text">{{message.content}}</p>
          </div>
        </ng-container>
      </div>
      <div class="text-container">

        <textarea #message placeholder="Type a message" (keyup.enter)="sendSimpleMessage(message, 0)"></textarea>
        <button #sendBtn class="btn-send btn btn-primary" type="submit" (click)="sendSimpleMessage(sendBtn, 1)">
          <img src="../../assets/images/sharp_send_white_24dp.png" alt="Send">
        </button>
      </div>
    </div>
    <div class="right-panel panels col-lg-3 col-md-3 col-sm-3">
      <div class="profile-container container">
        <div #cr class="cr" (click)="displayCR(cr)">
          <div class="dot-online" *ngIf="activeChatRequest > 0"></div>
          <p>Whispers</p>
          <app-chat-requests class="app-chat-requests" (selectedChat)="getSelectedUsers($event)"
                             (resized)="resizeCr($event, cr)"
                             [chatRequests]="chatRequests"
                             [crDisplayed]="crDisplayed">
          </app-chat-requests>
        </div>
        <div class="profile-details">
          <div class="img-profile-details">
            <img #imgDetails (mouseenter)="displayOverlay(imgDetails, 1)" src="../../assets/images/travel_by_air.jpg"
                 alt="My Profile Picture">
            <div class="text-profile-details" (mouseleave)="displayOverlay(imgDetails, 0)">
              <div class="user-details">
                <p>{{authService.userProfile.username}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-container text-container-mobile">
      <div class="right-panel-mobile">
        <div class="img-profile-details">
          <div #cr class="cr" (click)="displayCR(cr)">
            <div class="dot-online" *ngIf="activeChatRequest > 0"></div>
            <app-chat-requests class="app-chat-requests" (selectedChat)="getSelectedUsers($event)"
                               (resized)="resizeCr($event, cr)"
                               [chatRequests]="chatRequests"
                               [crDisplayed]="crDisplayed"
                               *ngIf="crDisplayed">
            </app-chat-requests>
          </div>
          <img src="../../assets/images/travel_by_air.jpg" alt="My Profile Picture">
        </div>
      </div>
      <textarea #messageMobile placeholder="Type a message"
                (keyup.enter)="sendSimpleMessage(messageMobile, 0)"></textarea>
      <button #sendBtnMobile class="btn-send btn btn-primary" type="submit"
              (click)="sendSimpleMessage(sendBtnMobile, 1)">
        <img src="../../assets/images/sharp_send_white_24dp.png" alt="Send">
      </button>
    </div>
  </div>
</div>
