<div class="admin col-md-11 col-sm-11">
  <h4>
    Manage Database
  </h4>
  <div class="manage-database col-sm-6 col-md-6">
    <div class="col-sm-6 col-md-6">
      <div class="add-games-panel">
        <h6>Add games</h6>
        <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
          <ng-select #genericSelection class="custom"
                     notFoundText="No games found"
                     formControlName="selection"
                     labelForId="games"
                     addTag="true"
                     [loading]="loading"
                     loadingText="Please wait..."
                     [groupBy]="groupByFn"
                     [groupValue]="groupValueFn"
                     [selectableGroupAsModel]="true"
                     [items]="games$ | async"
                     bindLabel="title"
                     [searchFn]="customSearchFn"
                     placeholder="Search games"
                     multiple="true">
            <ng-template ng-option-tmp let-item="item" let-item$="item$">
              {{item.title}}
              <span class="items-title-trash" (click)="deleteGame(item._id)"><img
                src="../../assets/icons/common/delete.svg" alt="Delete game"></span>
            </ng-template>
            <ng-template ng-optgroup-tmp let-item="item">
              <span style="vertical-align: middle;">{{item.categoryName}}</span>
              <span class="ml-1 badge badge-secondary">{{item.total}}</span>
            </ng-template>
          </ng-select>
          <p>{{message}}</p>

          <h4>Categories</h4>
          <div class="categoriesRadio">
            <div class="cat-radio-btn" *ngFor="let category of categories$ | async">
              <input id="{{category._id}}" type="radio" formControlName="categorySelection" value="{{category.categoryName}}">
              <label for="{{category._id}}">{{category.categoryName}}</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="manage col-sm-6 col-md-6">
    <div class="col-sm-6 col-md-6">
      <h6>Add Game Category</h6>
      <app-categories></app-categories>
    </div>
  </div>
</div>
